.contact {
  margin: 100px 170px;
  align-items: center;
  display: flex;
  gap: 70px;
  flex-direction: column;
  color: #fff;
  position: relative;
  overflow: hidden;
  justify-content: center;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  position: relative;
}
.contact-title img {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.contact-section {
  display: flex;
  gap: 150px;
}
.contact-left,
.contact-right {
  position: relative;
  width: 100%;
  color: #fff;
}
.contact-left {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.contact-left ul {
  margin-top: 20px;
}
.contact-left h1 {
  text-align: left;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
}
.contact-right label {
  background: linear-gradient(270deg, #3aaf9f 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  font-size: 22px;
  font-weight: 700;
}
.contact-right input{
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  font-size: 22px;
  font-weight: 700;
}
textarea {
  margin-top: 10px;
  /* color: #A0A0A0; */
  background: linear-gradient(270deg, #3aaf9f 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  font-size: 22px;
  font-weight: 700;
  /* background: #32323c; */
  font-size: 20px;
  width: 100%;
  padding: 25px;
  border: 3tionpx solid azure;
  border-radius: 10px;
  /* width: 650px; */
}
.submit-btn:hover{
    transform: scale(1.1);
    
}
.contact-left h3 {
  color: #000f38;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-left p {
    color: #D8D8D8;
  text-align: left;
  max-width: 550px;
  line-height: 1.5;
  font-size: 20px;
}
.contact-left ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 22px;
}


@media (max-width: 992px) {
  .contact {
    margin: 100px 5%;
    overflow: hidden;
    padding: 0;
  }
  .contact-section {
    flex-direction: column;
    width: 100%;
  }
  .contact-left p {
    text-align: left;
    max-width: 100%;
    font-family: Outfit;
    line-height: 1.5;
    font-size: 22px;
  }
  .contact-left ul li {
    margin-top: 30px;
    font-size: 22px;
  }
}
@media(max-width:768px){
  .contact {
    margin: 100px 3%;
  }
  .contact-section {
    flex-direction: column;
    width: 100%;
  }
  .contact-right{
    width: 100%;
  }
  .contact-left p {
    text-align: left;
    max-width: 100%;
    font-family: Outfit;
    line-height: 1.5;
    font-size: 22px;
  }
  .contact-left ul li {
    margin-top: 30px;
    font-size: 18px;
  }
}
