.about-me{
    margin: 80px 170px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.about-section{
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    /* gap: 10px; */
}
.about-title{
    position: relative;
}
.about-title h1{
    padding:0px 30px;
}
.about-title img{
    position: absolute;
    /* width:50px; */
    bottom: 0;
    right: 0px;
    z-index: -1;
}

.image-left{
    display: flex;
    flex-basis: 30%;
    /* flex: 5; */
}
.details-right{
    flex-basis: 70%;
}
.image-left img{
    width: 80%;
    border-radius: 10px;
    border: 1px solid;
}
.infos{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.infos p{
    font-size: 26px;
    justify-content: left;
    text-align: left;
}
.about-me h1{
    font-size: 60px;
    font-weight: 800;
}

.skills{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    gap: 0px;
}
.labelled{
    display: flex;
    display: block;
    display: grid;
    grid-template-columns: 150px 1fr;
    transition: 0.3s;
    gap: 30px;
    align-items: center;
    /* justify-content: left; */
    /* align-items: center; */
}
.labelled p{
    min-width: 150px;
    display: flex;
    margin: 7px auto;
    font-size: 24px;
    font-weight: 500;
}
.labelled hr{
    /* display: flex; */
    outline: none;
    border: none;
    width: 50%;
    position: relative;
    display: flex !important;
    justify-content: left !important;
    align-items: start !important;
    height: 8px;
    text-align: left !important;
    border-radius: 50px;
    background: linear-gradient(264deg, #dF8908 -5.09%, #B415FF 106.28%);
}
.experience{
    display: flex;
    margin-bottom: 80px;
    /* margin: 0 !important; */
    width: 100%;
    justify-content: space-around;
}
.years{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    transition: 0.5s;
    align-items: center;
    justify-content: center;

}
.years:hover{
    transform: scale(1.12);
}
.labelled:hover{
    transform: scale(1.05);
}
.years h2{
    font-size: 45px;
    margin-bottom: 5px;
    background: linear-gradient(264deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight:700 ;
}
.years h5{
    font-weight: 500;
}


@media (max-width:992px){
    .about-me{
        margin: 100px 4%;
    }
    .about-section{
        flex-direction: column;
        gap: 50px;
        diaplay:grid;
        grid-template-columns:1fr;
        overflow:hidden;
    }
    .image-left img{
        width: 100%;
        /* max-width: 300px; */
    }
}

@media (max-width:675px){
    .experience{
        flex-direction: column;
        gap: 10px;
    }

}
