*{
    box-sizing: border-box;
    margin: 0;
    /* overflow: hidden;/ */
    padding: 0 ;
}

.main{
    padding: 10px 6%;
    margin:auto;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.top{
    display:flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.dp{
    width: 400px !important;
    height: 400px;
    margin:auto ;
    border: 4px solid orangered;
    /* height:100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    /* padding: 10px 20px; */
   
}
.logos{
    position: relative;
}
.logos h4{
    background:linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%); 
    background-clip: text;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.ul{
    display:flex;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    gap:30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;

}
.connect{
    position: relative;
}
.ul li{
    display: flex;
    position: relative;
    margin: 0;
    gap: 20px;
    flex-direction: column;
}
.connect button{
    color: #fff;
    padding: 10px 30px;
    font-size: 22px;
    cursor: pointer;
    margin: auto;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);

}
/* Hero */
.wrapper{
    margin: 30px auto;
    
}
.wrapper-content{
    display: flex;
    gap: 35px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper-contents img{
    width: 400px;
    height: 300px;
    margin: auto;
    /* margin: 50px; */
    /* object-fit: ; */
    background-position: left;
    background-size: cover;
    object-fit: cover;
    /* padding: 10px 20px; */
    border: 4px solid orangered;
    border-bottom-left-radius: 0;
    border-radius: 50px;
    border-top-right-radius: 0;
}
.remove, .menu-open{
    display: none;
}
.ul li img{
    width: 30px;
    top: 20px;
}
.wrapper-content h1{
    width: 70%;
    font-family:monospace;
    text-align: center;
    font-size: 55px;
}
 h1 span{
    background:linear-gradient(267deg,#DA7C25 16%, #B415FF 102.06%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapper-content p{
    width: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.links{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.wrapper content span, .wrapper-content p{
    font-family: monospace;
}
.show{display: block;}
.target-link{
    padding: 10px 30px;
    cursor: pointer;
    color: aliceblue;
    font-family: monospace !important;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);
}
.connect-btn{
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 22px;
    display: flex;
    font-family:monospace;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: aliceblue;
}
a{
    text-decoration: none;
}
.resume-btn{
    background: transparent;
    color: #fff;
    padding: 10px 40px;
    cursor: pointer;
    color: aliceblue;
    font-size: 22px;
    font-family:monospace;
    border: 1px solid #fff;
    border-radius: 50px;
}
.menu-open,.remove{
    cursor: pointer;
}
.lighted.darks{
    color:#333 !important ;
        background: transparent !important ;
     }
.logos img{
    width: 30px;
    position: relative;
    z-index: -1;
    right: 0;
    bottom: 0;
}

@media (max-width:992px){
     
    .logos{
        position: relative;
    }
    .logos img{
        position: relative;
        top: -20px;
        right: -50px;
    }
     .ul li{
        margin: 15px;
        display: flex;
        position: relative;
        padding-left: 20px;
        /* gap: 20px; */
        flex-direction: row;
        text-align: center;
    p{
        margin: 0;
    }

        img{
            width: 30px;
            position: absolute;
            display: inline-block;
            margin: 0 !important;
        }
        a{
            margin: 0;
        }

    }

    
   
    
    /* .lighted.light{
        color:#333 ;
        background: #fff ;
    } */
    .lighted{
        position: fixed;
        display: block;
        z-index: 122;
        top:38px;
        right: 15px;
        cursor: pointer !important;
        width: 30px;
        margin:auto;
    overflow: hidden;

    }
    .lighted.darks{
        color:#333 !important ;
            background: transparent !important ;
         }

     .remove{
        display: block;
        width: 20px;
        top:30px;
        cursor: pointer;
        background-color: #DA7C25;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0 0 10 rgba(98, 95, 105, 0.402);
        right: -120px;
        position: relative;

     }
.ul{
    position: fixed;
    bottom: 0;
    margin:  0;
    right: -150px;
    width: 150px;
    z-index: 122;
    height:100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
    gap:0px !important;
    transition: 0.4s;
    background:#1f0016 ;
}
.connect{
    position: fixed;
    bottom: 0;
    margin: auto;
    right: -350px;
    z-index: 1222;
    display: none;
}
.connect button{
    display: flex;
    /* display: block; */
    margin: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    
}

.main{
   padding: 10px 3%;
   overflow:hidden;
   margin:auto;
}
.wrapper{
    text-align: center;
}
}

@media (max-width:768px){
    .wrapper-content h1{
        font-size: 30px;
     }
     .ul li{
        display: block;
       
     }
     .lighted.darks{
    color:#333 !important ;
        background: transparent !important ;
     }
     .wrapper{
        padding: 10px 0;
        margin:auto;
        overflow:hidden;
        display: block;
     }
     .wrapper-content{
        align-items: center;
        margin:auto;

        justify-content: center;
     }
     .wrapper-content p{
        width: 100%;

     }
}
@media (max-width:500px){
    .links {
        flex-direction:column;
    }
    .wrapper-content h1{
        font-size: 20px;
     }
     .dp{
        width: 300px !important;
        height:300px;
        margin: auto;
     }
     .lighted.darks{
        color:#333 !important ;
            background: transparent !important ;
         }
     .wrapper-content p{
        font-size: 16px;
        width: 100%;
     }
     .wrapper{
        margin: 10px 0;
        display: block;
     }
     .wrapper-content{
        /* display: block; */
        align-items: center;
        justify-content: center;
     }

}