*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.main{
    margin: 10px 6%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.top{
    display:flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.logos{
    position: relative;
}
.logos h4{
    background:linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%); 
    background-clip: text;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.ul{
    display:flex;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    gap:30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.ul li{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.connect button{
    color: #fff;
    padding: 10px 30px;
    font-size: 22px;
    cursor: pointer;
   
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);

}
/* Hero */
.wrapper{
    margin: 30px auto;
    
}
.wrapper-content{
    display: flex;
    gap: 35px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper-content img{
    width: 300px;
    height: 300px;
    /* margin: 50px; */
    object-fit: cover;
    background-position: center;
    /* padding: 10px 20px; */
    border: 4px solid orangered;
    background-size: cover;
    border-radius: 100%;
}
.remove, .menu-open{
    display: none;
}
.wrapper-content h1{
    width: 70%;
    font-size: 55px;
}
 h1 span{
    background:linear-gradient(267deg,#DA7C25 16%, #B415FF 102.06%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapper-content p{
    width: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.links{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.show{display: block;}
.target-link{
    padding: 10px 30px;
    cursor: pointer;
    color: aliceblue;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);
}
.connect-btn{
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: aliceblue;
}
a{
    text-decoration: none;
}
.resume-btn{
    background: transparent;
    color: #fff;
    padding: 10px 40px;
    cursor: pointer;
    color: aliceblue;
    font-size: 22px;
    border-radius: 50px;
}
.menu-open,.remove{
    cursor: pointer;
}
.logos img{
    width: 30px;
    position: relative;
    z-index: -1;
    right: 0;
    bottom: 0;
}

@media (max-width:992px){
     
    .logos{
        position: relative;
    }
    .logos img{
        position: relative;
        top: -20px;
        right: -50px;
    }
     .ul li{
        margin: 30px;
        display: flex;
        padding-left: 20px;
        gap: 20px;
        flex-direction: row;
        text-align: center;

    }

    .menu-open{
        position: fixed;
        display: block;
        right: 15px;
        cursor: pointer !important;
        width: 30px;
    }

     .remove{
        display: block;
        width: 25px;
        top: 30px;
        left: 290px;
        position: relative;

     }
.ul{
    position: fixed;
    /* top: 20px; */
    top: 0;
    right: -350px;
    width: 350px;
    z-index: 122;
    display: flex;
    gap: 30px;
    align-items: start;
    flex-direction: column;
    height:100%;
    transition: 0.4s;
    background:#1f0016 ;
}
.connect{
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 100%;
    text-wrap: nowrap;
    display: flex;
    display: none;
    align-items: center;
    justify-content: right;
}
.connect button{
    display: flex;
    
}
.main{
   margin: 10px 3%;
}
}

@media (max-width:768px){
    .wrapper-content h1{
        font-size: 30px;
     }
     .wrapper{
        margin: 10px 0;
        display: block;
     }
     .wrapper-content{
        align-items: center;
        justify-content: center;
     }
     .wrapper-content p{
        width: 100%;

     }
}
@media (max-width:500px){
    .links {
        flex-direction:column;
    }
    .wrapper-content h1{
        font-size: 20px;
     }
     .wrapper-content p{
        font-size: 16px;
        width: 100%;
     }
     .wrapper{
        margin: 10px 0;
        display: block;
     }
     .wrapper-content{
        /* display: block; */
        align-items: center;
        justify-content: center;
     }

}
