
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap') */

body{
    color: #fff;
    background: #161513;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0 !important;

}
.scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: #3b82f6; /* Blue color */
    width: 0%;
    transition: width 0.2s ease-out;
    z-index: 9999;
  }
  
.light{
    color: #333;
    background: #ffffff;
    animation: fadedIn alternate 0.5s ease-in-out;
    margin: 0 !important;
    padding: 0 !important;

    transition: all 0.5s;
}
.dark{
    background-color: #161513;
    color:#fff !important; 
    animation: fadedIn alternate 0.5s ease-in-out;
    transition: all 0.5s;
}
@keyframes fadedIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.mail.light{
    color:#161513 ;
}
.contact-left ul li.dark{
    color:red !important;
    opacity: 0;
    background: red !important;
}
.ul.lights{
    color: white ;
}
.ul.darks{
    color: black ;
    background-color: inherrit !important;
}
.lighted{
    display: none;
}
.theme {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:50px;
    right:50px ;
    align-items: center;
    cursor: pointer !important;
    font-size: 1rem;
}
.sun, .moon{
    cursor: pointer !important;
}
@media screen and (max-width:1200px){
    .theme{
        top:50px;
        right:20px;
        /* margin-left: 20px; */
    }
}
@media screen and (max-width:992px){
    .theme{
        top:37px;
    }
}
@media screen and (max-width: 991px){
    .ul.light{
        font-size: 0.8rem;
        color: #fff !important;
        background-color: #777 !important;
    }
    .ul.darks{
        font-size: 0.8rem;
        color: #fff !important;
    }
    .sun, .moon{
        cursor: pointer !important;
    }
    .theme {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 38px;
        right:50px ;
        z-index: 120;
        align-items: center;
        cursor: pointer !important;
        font-size: 1rem;
    }
    
}
